{% extends "base.html" %}
{% block content %}
    <main class="mt-5 d-flex align-items-center justify-content-center">
      <div class="container justify-content-center ">
        <div class="row">
              <div class="col-4 mx-auto">
        <ul class="list-group ">
          <li class="list-group-item text-center"><strong>Biodata</strong></li>
          <li class="list-group-item">Nama : {{isi.nama}}</li>
          <li class="list-group-item">Tempat Lahir : {{isi.tempat_lahir}}</li>
          <li class="list-group-item">Tanggal Lahir : {{isi.tanggal_lahir}}</li>
          <li class="list-group-item">Jenis Kelamin : {{isi.jenis_kelamin}}</li>
          <li class="list-group-item">Pekerjaan : {{isi.pekerjaan}}</li>
          <li class="list-group-item">Alamat : {{isi.alamat}}</li>
          <li class="list-group-item">Foto :
            <img src="{{url_for('static',filename='images/'+isi.foto)}}" alt="{{isi.nama}}"></li>
        </ul>
        </div>
        </div>
      </div>
    </main>
{% endblock %}